{% extends "teacher/base.html" %}
{% load static custom_tags %}

{% block title %}
{{ exam_name }}
{% endblock title %}

{% block content %}
<div class="center title">
    <div class="scores-title">{{ exam_name }} Scores</div>
</div>
    {% for student in students %}
      <form method="post" 
            action="{% url 'enter-scores' student.id %}" 
            class="center" 
            name="scores">
            {% csrf_token %}
        <input type="hidden" id="student-id" value="{{ student.id }}">
        <input type="hidden" id="exam_name" value="{{ exam_name }}">


        <div id="grid">
            <div id="saved">Saved</div>
            <div id="name"><span id="namo">{{ student.first_name }} {{ student.last_name }}</span>
                <span id="exam-total"></span></div>
            <div id="save">     
                <input type="submit" 
                        class="button tiny" 
                        value="Save" 
                        disabled/>
            </div>
            <div id="reading">
                <div class="input-top">Reading</div>
                <input type="number"
                       step="1"
                       max="36" 
                       class="score" 
                       id="score-re"
                       {% unique_exam student.id exam_name 'reading' as reading %}
                       value="{{ reading }}" 
                       placeholder="36">
                       <div id="percentage"></div>
            </div>
            <div id="uofe">
                <div class="input-top">U of E</div>
                <input type="number"
                       step="1"
                       max="36" 
                       class="score" 
                       id="score-us" 
                       {% unique_exam student.id exam_name 'uofe' as uofe %}
                       value="{{ uofe }}"
                       placeholder="36">
                <div id="percentage"></div>
            </div>
            <div id="writing">
                <div class="input-top">Writing</div>
                <input type="number"
                       step="0.5"
                       max="5" 
                       class="score" 
                       id="score-wr" 
                       {% unique_exam student.id exam_name 'writing' as writing %}
                       value="{{ writing|floatformat }}"
                       placeholder="5">
                <div id="percentage"></div>
            </div>
            <div id="listening">
                <div class="input-top">Listening</div>
                <input type="number"
                       step="1"
                       max="30" 
                       class="score" 
                       id="score-li" 
                       {% unique_exam student.id exam_name 'listening' as listening %}
                       value="{{ listening }}"
                       placeholder="30">
                <div id="percentage"></div>
            </div>   
            <div id="speaking">
                <div class="input-top">Speaking</div>
                <input type="number"
                       step="0.5"
                       max="5" 
                       class="score" 
                       id="score-sp" 
                       {% unique_exam student.id exam_name 'speaking' as speaking %}
                       value="{{ speaking|floatformat }}"
                       placeholder="5">
                <div id="percentage"></div>
            </div>
        </div>
      </form>
    {% empty %}
    <div class="center">
      <div class="scores-title">No students yet.</div>
    </div>
    {% endfor %}
{% endblock content %}

{% block javascript %}
    <script src="{% static 'teacher/js/scores.js' %}"></script>
{% endblock javascript %}
