{% extends "teacher/base.html" %}
{% load static %}

{% block title %}
Teacher home
{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'teacher/css/reports.css' %}" />
{% endblock head %}

{% block content %}
<div class="center title">

        <div class="r-title">
            Hello {{ user.first_name }}
        </div>
</div>
<div class="r-center">

        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <div style="padding: 0.5rem 0 0.5rem 0;">
                        {{ message }}  
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div style="padding: 0.5rem 0 0 0">
        </div>
        <div class="h-content">
            Today is {% now "j F Y" %}.  <br>
            There are {{ student_count }} {{ teacher.course }} students on the {{ teacher.campus }} campus. <br>
        </div>

</div>

{% endblock content %}