#name { 
    grid-area: n;
    color: #7a7a7a;
    background: #cbedf0;
    padding: 1rem;
    text-align: left;
    align-self: center;
    line-height: 1;
    hyphens: auto;
    font-size: 1.2em;
    border: solid rgba(56, 179, 190, 0.9);
    border-width: 0.1rem 0 0.1rem 0;
}

#namo {
    padding: 0 1em 0 0 ;
    vertical-align: middle;
}

#percentage {

    font-size: 1.2em;
    /* font-style: italic; */
    text-align: left;
    color: #7a7a7a;
    padding: 0 0 1em 0.5em;
    height: 3rem;
}

#exam-total {
    grid-area: c;
    font-size: 1em;
    vertical-align: middle;


}

#save { 
    grid-area: v; 
    padding:  0.6rem 0.5em 0.6rem 0 ;
    display: flex;
    justify-content: flex-end;
    
    border: solid rgba(56, 179, 190, 0.9);
    border-width: 0.1rem 0 0.1rem 0;
    background: #cbedf0;
    /* background: rgba(255, 246, 234, 1); */
}

#reading { 
    grid-area: r; 
    padding: 0.5em;
    /* column-width: 1fr; */
}

#uofe { 
    grid-area: u;
    padding: 0.5em;
    /* column-width: 1fr; */
}

#writing { 
    grid-area: w; 
    padding: 0.5em;
    /* column-width: 1fr; */
}

#listening { 
    grid-area: l; 
    padding: 0.5em;
    /* column-width: 1fr; */
}

#speaking { 
    grid-area: s; 
    padding: 0.5em;
    /* column-width: 1fr; */
}

#grid {
    display: grid;
    grid-template-areas:
        "n n n n v"
        "r u w l s";
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;    
    text-align: center;
    width: 760px;
    color: #cacaca;
    /* background: rgba(255, 246, 234, 0.5); */
}


/* #sd-grid {
    display: grid;
    grid-template-areas:
        "n n" 
        "r r"
        "s s" 
        "s s";

    grid-template-columns: 1fr 1fr;    
    color: #7a7a7a;}
    @media print, screen and (min-width: 64em) {
        #sd-grid {

        grid-template-areas:
            "n n r r"
            "s s s s";
        grid-template-columns: 1fr 1fr  1fr 1fr; }}


#sd-name {
    grid-area: n;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 3em;
    margin: 2rem;
    line-height: 1;
    }
    @media print, screen and (min-width: 64em) {
        #sd-name {
          font-size: 5rem; 
          margin: 2rem 2rem 2rem 4rem;

        } 
    }


#sd-info {
    grid-area: r; 
    margin: 0 2rem 0 2rem; 
    font-size: 1.5em;
    line-height: 1.3;

}
    @media print, screen and (min-width: 64em) {
        #sd-info {
          font-size: 1.5em;
          max-width: 15em;
          margin: 2rem;
          align-self: center;
        } 
    }


#sd-info > span {
color: #545454;}


#sd-score {
    grid-area: s; 
    padding: 0.5em; 
} */



/* @media (max-width: 512px) {
    #grid {
        grid-template-areas:
            "a a a"
            "b c d"
            "e e e";
    }
} */