/* need this to avoid FOUC - Flash of unstyled content */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}


:root {
  --green-bg-color: #38b3be;
  --nav-blue: #3870be;
}


/* Various fixes from Foundation 6 */

body {
  margin: 0;
  background: #fdf6ee;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif; 
}

article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

/* ========================================================================== */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0rem 0;}
  @media print, screen and (min-width: 40em) {
    .center {
      flex-direction: column; } 
  }

.footer {
  position:relative;
  bottom:0;
  left:0;
  min-height: 5em;
  width: 100%;
  background-color: var(--nav-blue);
  color: white;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}


.mega-title {
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  font-style: italic;
  text-align: left;
  color: #7a7a7a;
  line-height: 1;
  margin: 0 2rem 2rem 2rem;
  align-self: center;}
  @media print, screen and (min-width: 40em) {
    .mega-title {
      margin: 2rem;
      font-size: 6rem; } }


.scores-title {
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  font-style: italic;
  text-align: left;
  color: #7a7a7a;
  line-height: 1;
  margin: 2rem 2rem 1rem 2rem;
}
  @media print, screen and (min-width: 40em) {
    .scores-title {
      font-size: 4rem;
      width: 760px;
     } }


.center.title {
  padding: 0;
}

.home-info { 
  grid-area: n;
  font-family: 'Roboto';
  color: #7a7a7a;
  padding: 1rem;
  text-align: left;
  align-self: center;
  line-height: 1.5em;
  font-size: 1.2em;
}  @media print, screen and (min-width: 40em) {
  .home-info {
    font-size: 1.5em;
   } }

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe; }

.button.tiny {
  font-size: 0.6rem;
  height: 3em;
}


.button.disabled, .button[disabled] {
  opacity: 0.25;
  cursor: not-allowed; }
.button.disabled, .button.disabled:hover, .button.disabled:focus, .button[disabled], .button[disabled]:hover, .button[disabled]:focus {
  background-color: #1779ba;
  color: #fefefe; }


/* NAVBAR/TOP-BAR/TITLE-BAR */
.title-bar-title {
  margin-left: 1rem;
  margin-right: 0.25rem; 
}

.top-bar {
  background: var(--nav-blue);
  padding: 0 0.5em;
}

.top-bar .menu,
.top-bar .menu.dropdown {
  background: var(--nav-blue);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.menu a,
.menu.dropdown a {
  color: white;
  padding: 1rem 1rem;
}


.menu a:hover {
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  background: #274d83;
}

.menu a .active, .menu li .active {
  background: var(--green-bg-color);
}

.menu .menu-text {
  padding: 1.25rem 1rem;
}

.dropdown.menu > li > a {
	padding: 1.25rem 1rem;
}

.dropdown.menu .is-active > a {
  background: #274d83;
  color: white; }

.dropdown.menu > li.is-active > a {
  background: #274d83;
  color: white; }

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: white transparent transparent;
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  border-color: white transparent transparent;
}

.title-bar {
  padding: 0.5rem;
  background: var(--nav-blue);
  color: #fefefe;
}

.title-bar .menu-icon {
  margin-left: 0.25rem;
  margin-right: 0.5rem; }

.drilldown a {
  padding: 0.7rem 1rem;
  background: var(--nav-blue); }

.drilldown .is-drilldown-submenu {
  background: #fefefe;
}

.drilldown .is-drilldown-submenu a {
  padding: 0.7rem 1rem; }


.drilldown .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent white; }

.drilldown.align-left .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent white; }

.drilldown.align-right .is-drilldown-submenu-parent > a::after {
  border-color: transparent white transparent transparent; }

.drilldown .js-drilldown-back > a::before {
  border-color: transparent white transparent transparent;}


/* FORM CUSTOMIZATIONS */
.input-top {
  text-align: left;
  font-size: 0.8em;
}

.custom-form-errors {
  color:  #d78e7f ;
  margin: 0.5em 0;
}

.form-control {
  font-family: 'Roboto', sans-serif;
  color: #7a7a7a;
  letter-spacing: 1px;
  height: 4rem;
  background: #fff6ea
}

input[type=text].score, input[type=number].score  {
  width: 100%;
  height: 2.4375rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  line-height: 1.5;
  color: #0a0a0a;
  margin: 0 0 0.5rem;
}


input[type=text]:focus, input[type=number]:focus {
  background-color: #fff6ea;
}

input[type=password]:focus {
  background-color: #fff6ea;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #9c9c9c; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #9c9c9c; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #9c9c9c; }

input::placeholder,
textarea::placeholder {
  color: #9c9c9c; }
  

.form-card-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2em;
  justify-items: center;
}

.form-card {
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 400px;
  width: 300px;
  padding: 1em 0;
}

p.form-card-small {
  font-size: 0.85em;
  color: grey
}

.login.button {
  display: block;
  border-radius: 0;
  margin: 0 0 1rem 0;
  width: 100%;
  height: 4rem;
  font-size: 1.5em;
  padding: 0.85em 1em;
  background: linear-gradient(to bottom, #42d6e4 0%, var(--green-bg-color) 100%);
  border: 2px solid var(--green-bg-color);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
  line-height: 0; 
}

.login.button:hover, .login.button:focus {
  background: linear-gradient(to bottom, #38b6c2 0%, var(--green-bg-color) 100%);
  border: 2px solid var(--green-bg-color);
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px;
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  /* color: #fff; White text color */
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: absolute; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 50px; /* 50px from the bottom */
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  font-style: italic;
  text-align: left;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; 
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
/* @-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 50px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 50px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}  */

/* Previously from grid.css */
#name { 
  grid-area: n;
  color: #7a7a7a;
  background: #cbedf0;
  padding: 1rem;
  text-align: left;
  align-self: center;
  line-height: 1;
  hyphens: auto;
  font-size: 1.2em;
  border: solid rgba(56, 179, 190, 0.9);
  border-width: 0.1rem 0 0.1rem 0;
}

#namo {
  padding: 0 1em 0 0 ;
  vertical-align: middle;
}

#percentage {
  font-size: 1.2em;
  text-align: left;
  color: #7a7a7a;
  padding: 0 0 1em 0.5em;
  height: 3rem;
}

#exam-total {
  grid-area: c;
  font-size: 1em;
  vertical-align: middle;
}

#save { 
  grid-area: v; 
  padding:  0.6rem 0.5em 0.6rem 0 ;
  display: flex;
  justify-content: flex-end;
  
  border: solid rgba(56, 179, 190, 0.9);
  border-width: 0.1rem 0 0.1rem 0;
  background: #cbedf0;
}

#reading { 
  grid-area: r; 
  padding: 0.5em;
}

#uofe { 
  grid-area: u;
  padding: 0.5em;
}

#writing { 
  grid-area: w; 
  padding: 0.5em;
}

#listening { 
  grid-area: l; 
  padding: 0.5em;
}

#speaking { 
  grid-area: s; 
  padding: 0.1em;
}

#saved {
  grid-area: a; 
  visibility: hidden;
  color: white;
  background: #2ba6cb;
  padding: 0.1rem;
  text-align: center;
  line-height: 1;
  font-size: 0.9em;
}

#saved.show {
  visibility: visible; /* Show saved */
  /* Add animation: Take 0.5 seconds to fade in and out saved.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the saved in and out */
@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
} 


#grid {
  display: grid;
  grid-template-areas:
      "a a a a a"
      "n n n n v"
      "r u w l s";
  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;    
  text-align: center;
  width: 760px;
  color: #cacaca;
}