{% extends 'teacher/base.html' %}
{% load static %}

{% block title %}
Welcome. Please login.
{% endblock title %}

{% block content %}

  <div class="form-card-container">
      <div class="mega-title">Welcome.</div>
    <div class="form-card">



      <h3>Please login.</h3>
        <form method="POST" name="login">
            {% csrf_token %}
                {{ form.username }}
                {{ form.password }}
                <div class="custom-form-errors">
                {{ form.non_field_errors | striptags }}
                </div>
                <button class="login button" type="submit">Login</button>
        </form>
        <p class="form-card-small"><strong>Need an account?</strong><br>
        Please contact your academic manager.</p>




    </div>      
  </div>
{% endblock content %}



